body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
section{
    max-width: 300px;
    margin: auto;
    background-color: tomato;
    padding: 20px;
    border-radius: 10px;
}
h1{
    text-align: center;
}
input{
    display: flex;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
button{
    background-color: white;
    padding: 5px;
}
#calculo{
    color: white;
}